@import "reset.css";

body{
  font-family: verdana;
  background: url(bg1.jpg) fixed;
  /*background-color: #95a5a6;*/
}

#container{
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: auto;
  /*background-color: pink;*/
}

header{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding: 20px 20px 30px 20px;
  flex-basis: 100%;
  /*background-color: grey;*/
}

header h1{
    font-style: italic;
    font-size: 200%;
}

header #motto{
  flex-basis: 30%;
  font-size: 100%;
  color: #3498db;
  font-style: italic;
  font-weight: bold;
  padding-top: 10px;
}

#content{
  display: flex;
  flex-wrap: wrap;
  box-shadow: 3px -3px 10px grey;
  margin-bottom: 30px;
}

#menu{
  padding-top: 15px;
  padding-bottom: 15px;
  flex-basis: 100%;
  background-color: #2980b9;
}

#menu ul{
  display: flex;
  list-style-type: none;
}

#menu a{
  color: #bdc3c7;
  flex-basis: 20%;
  text-align: center;
  text-decoration: none;
}

#menu a:hover{
  color: white;
}

#side_bar{
  flex-basis: 20%;
  background-color: #7f8c8d;
}

#side_bar ul{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  list-style-type: none;
}

#side_bar li{
  padding-bottom: 10px;
}

#side_bar a{
  text-decoration: none;
  color: #bdc3c7;
}

#side_bar a:hover{
  color: white;
}

main{
  flex-basis: 80%;
  background-color: white;
  padding-bottom: 20px;
}

main p{
  text-indent: 30px;
  line-height: 1.5;
  padding: 0 20px 0 20px;
}

main img{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 680px;
  display: block;
  margin: auto;
}

main h1{
  font-size: 160%;
  padding: 20px 20px 20px 20px;
}

main h1::first-letter{
  color: red;
}

.post{
    margin: 10px 20px 10px 20px;
    padding: 10px 0 10px 0;
    flex-basis: 80%;
}

h1.post{
    padding: 0;
    font-size: 160%;
}

h2.post{
    padding: 0;
    font-size: 80%;
    color: gray;
} 

p.post{
    padding: 0;
}

footer{
  color: #bdc3c7;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-basis: 100%;
  background-color: #2980b9;
  text-align: center;
  line-height: 1.5;
}

footer a{
  color: #bdc3c7;
}

#counter{
  font-size: 60%;
}

#form{
    margin: 20px 20px 20px 20px;
}

#form input[type=text] {
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    width: 100%;
}

#form input[type=textarea] {
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
}

#form input[type=submit] {
    padding: 12px 20px;
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

#form input[type=submit]:hover {
    background-color: #45a049;
}